
<div class="container-fluid principal">
  <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">{{ title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto" >
                <li *ngIf="authService.isAuth; then logoutBlock else loginBlock"></li>
                <ng-template #loginBlock>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Se connecter
                    </a>
                </li>
                </ng-template>
                <li>
                    <a class="nav-link" routerLink="/albums">Home</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                </li>
                <ng-template #logoutBlock>
                <li>
                    <a class="nav-link" routerLink="/logout">Se déconnecter</a>
                </li>
                </ng-template>
            </ul>
            <div class="navbar-right">
                <p>connected for {{ time }} </p>
            </div>
        
      </div>
  </nav>
    
     <router-outlet></router-outlet>
</div>
